*{
    margin: 0 auto;
}
body{
    width: 100%;
    font-family:cursive;
}

.header{
    height: 70px;
    width: 100%;
    background: #34495e;
}

.header_left{
    float: left;
    width: 50%;
}
.header_left h3{
    margin-left: 25%;
    margin-top: 3%;
}
.header_right{
    float: right;
    width: 50%;
}
.header_right h5{
    margin-left: 25%;
    margin-top: 3%;
}





.home{
    background: url(img/cover.jpg);
    height: 500px;
    width: 100%;
    
}
.home_left{
    float: left;
    width: 50%;
    padding-top: 10%;
    text-align: center;
    color: #fff;
}
form{
    width: 300px;
    padding: 20px;
    margin: auto;
   
    background: green;
}
form h1,h2,p{
    text-align: center;
    color: #fff;
}
input, label{
    display: block;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 10px 5px;
    outline: none;
    border: none;
    margin-bottom: 15px;
    border: 1px solid transparent;
}
input[type="text"]:focus,
input[type="password"]:focus{
    border-color: red;
}
select{
    padding: 7px;
    width: 100%;
}
button{
    padding: 10px 20px;
    margin-top: 20px;
    width: 100%;
}
input[type="text"],
input[type="password"],
select{
    
}
fieldset{
    text-align: center
}
#btn{
    background: black;
    color: #fff;
}



.home_right{
    float: right;
    width: 50%;
    padding-top: 5%;
}










.about{
    text-align: center;
    background: #fff;
    height: 500px;
    width: 100%;
    padding-top: 2%;
   
}
.about_con{
    width: 30%;
    float: left;
    padding-left: 2.5%;
}




.are{
    height: 550px;
    width: 100%;
    background: #bdc3c7;
   
}
.are_main{
    width: 70%;
    text-align: center;
    padding-top: 3%;
    
}

.are_op{
    padding-top:5%;
}
.are_op_left{
    float: left;
    width: 50%;
   
}
.are_op_left_left{
    float: left;
    width: 25%;
   
   
}
.are_op_left_left img{
    margin-top: 35%;
    margin-left: 50%;
    border-radius: 50%;
}
.are_op_left_right{
    float: right;
    width: 65%;
    text-align: justify;
    padding-right: 10%;
}
.are_op_left_right h3{
    margin-bottom: 3%;
}
.are_op_left_right p{
    margin-bottom: 3%;
    text-align: justify;
}
.are_op_right{
    float: right;
    width: 50%;
}


.jcarear{
    height: 330px;
}
.jcarear_left{
    float: left;
    width: 40%;
}
.jcarear_left img{
    margin-left: 25%;
    margin-top: 6.5%;
}
.jcarear_right{
    float: right;
    width: 60%;
    padding-top: 2%;
    text-align: justify;
}

.jcarear_right p{
    text-align: justify;
    margin-right: 17%;
}
.jcarear_right button{
    width: 200px;
    height: 40px;
    background: black;
    color: #fff;
}





.beducation{
    height: 330px;
}
.beducation_left{
    float: left;
    width: 60%;
    
}
.beducation_left h1{
    margin-left: 18%;
}
.beducation_right{
    float: right;
    width: 40%;
   
}
.beducation_right img{
    margin-left: 10%;
}
.beducation_left p{
    text-align: justify;
    margin-left: 18%;
}

.beducation_left button{
    width: 200px;
    height: 40px;
    background: black;
    color: #fff;
    margin-left: 18%;
}



.contact{
    text-align: center;
    background: green;
    height: 200px;
    padding-top: 3%;
    color: #fff;
}
.contact img{
    border-radius: 50%;
}
.contact p{
    width: 600px;
}

.footer{
    color: #fff;
    background: #34495e;
}





